@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    width: 95%;
    height: 65%;
}

.button {
    font-family: 'Orbitron', sans-serif;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.buttonend {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}